<ion-header>
  <ion-navbar>
    <ion-title>
      Quotes
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="global-bg-color">
  <ion-list>
    <ion-card  *ngFor="let item of quotes">
      <ion-card-header>
        <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
        <!--<ion-card-title>Card Title</ion-card-title>-->
      </ion-card-header>
      <ion-card-content>
        <div>

          {{item.text}}
          <br>
          <hr>
          <span  class="bottom-buttons" style="color: gold; float: right">
            <ion-icon  *ngIf="!item.liked" (click)="toggleLike(item)" name="star-outline"></ion-icon>
            <ion-icon *ngIf="item.liked" (click)="toggleLike(item)" name="star"></ion-icon>
          </span>
        </div>
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>
